/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    background-color: #252525;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 2vw;
}

header h1 {
    font-size: 1rem;
    padding-left: .5rem;
    color: #fff;
}

main {
    margin: 1rem 2%;
}

section.who {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    color: #fff;
}
section.who p {
    margin: 0;
}

section.about {
    display: flex;
    border: solid 2px #0f740f;
    border-radius: 5px;
    padding: .5rem;
}
section.about div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    margin-left: .5rem;
    width: 100%;
}
section.about p{
    margin: 0;
}
section.about div ul {
    background-color: #393939;
    border-radius: 10px;
    width: 100%;
    margin: 0;
    padding: .5rem;
    list-style-position: inside;
    box-shadow: inset 0 0 10px #131313;
}
h2 {
    font-size: 1rem;
    color: #fff;
}

.assignments {
    padding: 1rem 2%;
}
.assignments a {
    color: #fff;
    background-color: #303030;
    display: block;
    padding: .8rem;
    margin-bottom: .5rem;
    border: 1px solid #aaa;
    border-radius: 7.5px;
    text-decoration: none;
    background-image: url(../images/arrow2.svg);
    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-position: 92% center;
    transition: .5s;
}
.assignments a:hover {
    background-position: 96% center;
    background-color: #393939;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #303030;
    color: #fff;
    padding: .75rem;
    text-align: center;
}
footer a {
    color: #00da1dd3;
    transition: .5s;
}
footer a:hover {
    color: #2fff4bd3;
}