/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

:root {
    /* === Neutrals / Core === */
    --black: #000;
    --white: #fff;
    --grey-light: #f0f0f0;
    --grey-medium: #ccc;

    /* Dark tones */
    --dark-charcoal: #1c1c1c;
    --dark-onyx: #353535;
    --gunmetal: #3b3b3b;
    --plasteel-grey: #6d6e71;

    /* Warm / Tan family */
    --tan-camel: #c19a6b;
    --tan-sand: #d2b48c;
    --tan-linen: #faf0e6;

    /* Reds & warm accents */
    --red-rosewood: #65000b;
    --red-crimson: #8b0000;
    --red-brick: #cd5c5c;

    /* Star Wars inspired palette (brand / accents) */
    --star-wars-yellow: #ffd306;
    --rebel-steel: #4b6e82;
    --jedi-blue: #2b6ca3;
    --tatooine-sky: #5f7fae;
    --royal-crimson: #8e1e2b;
    --desert-rose: #c6786d;
    --amethyst: #7c5da3;
    --copper-circuit: #a67c52;

    /* Misc / semantic */
    --plasteel-grey: #6d6e71;

    /* Political party swatches */
    --party-democrat: #003366;
    --party-republican: #b22234;
    --party-independent: #6c757d;

    /* Gender filters */
    --gender-female: #d16ba5;
    --gender-male: #5b8fb9;
    --gender-other: #9e9e9e;
}

/* body {

} */

header {
    display: grid;
    grid-template-columns: auto 42px;
    color: var(--black);
    background-color: var(--grey-medium);
}
header span:nth-child(2) {
   padding: .5px; 
}

#town {
    padding: .5rem;
}

aside {
    display: none;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--dark-charcoal);
    color: var(--white);
    padding: 0.5rem;
}