@media only screen and (min-width: 35rem) {

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
}

nav button {
    margin: 0 0.5rem;
    padding: 10px;
}

div#senatorCards {
    grid-template-columns: repeat(2, 1fr);
}

} /* end media query*/