html, body {
    padding: 0;
    margin: 0;
    background-image: url(images/station.jpg);
    background-size: cover;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

h1 {
    color: black;
    font-size: 2.5rem;
    margin: .8rem 0;
}
h2 {
    color: black;
    font-size: 3.5rem;
    margin: 0 0 1.5rem 0;
}
p {
    color: black;
    font-size: 1.5rem;
}

#incrementBtn {
    background-color: #00c900;
    transition: .10s;
}
#incrementBtn:active {
    background-color: #0ff00f;
}


#decrementBtn {
    background-color: #c00000;
    transition: .10s;
}
#decrementBtn:active {
    background-color: #8b0000;
}

#resetBtn {
    background-color: #3a3a3a;
    transition: .10s;
}
#resetBtn:active {
    background-color: #222222;
}

#saveBtn {
    background-color: #0000bd;
    transition: .10s;
}
#saveBtn:active {
    background-color: #000097;
}