@media only screen and (min-width: 60rem) {
    nav {
        padding-left: 2rem;
        margin: 0 auto;
    }

    main {
        max-width: 1000px;
        margin: 0 auto;
    }

    main figure {
        max-width: 800px;
    }

    header h1 {
        font-size: 2.5rem;
    }
    /* widen the left column so nav has more room */
    body {
        grid-template-columns: 300px 1fr;
    }
} /* end media query*/