@media only screen and (min-width: 60rem) {
	#newProfile {
		max-width: 650px;
		padding: 2rem;
		margin: 3rem auto;
		font-size: 1.15rem;
		box-sizing: border-box;
		width: min(650px, calc(100vw - 4rem));
		overflow-y: auto;
		max-height: 90vh;
	}
} /* end media query*/