@media only screen and (min-width: 35rem) {
	#newProfile {
		max-width: 600px;
		padding: 2.5rem;
		margin: 3rem auto;
		font-size: 1.15rem;
	}

	#newProfile p {
		font-size: 1.2rem;
	}

	#newProfile label {
		font-size: 1.1rem;
	}

	#newProfile input,
	#newProfile select {
		margin-top: 0.75rem;
	}

	#newProfile input[type="text"],
	#newProfile select {
		font-size: 1.1rem;
		padding: 0.75rem;
		margin-bottom: 1.25rem;
	}

	#newProfile input[type="submit"] {
		font-size: 1.1rem;
		padding: 1.25rem;
		margin-top: 1.5rem;
	}
}