/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.is-hidden {
    display: none;
}

body.paintRed div {
    background-color: red;
}

body.paintGreen div {
    background-color: green;
}

header {
    display: flex;
    justify-content: space-between;
}

#listIcon, #gridIcon {
    width: 64px;
    height: 64px;
}

/* button switch */

body.grid section #gridIcon {
    display: none;
}
body.grid section #listIcon {
    display: block;
}

body.list section #listIcon {
    display: none;
}
body.list section #gridIcon {
    display: block;
}

body.list #posters {
    display: grid;
    grid-template-columns: 1fr;
}
body.grid #posters {
    display: grid;
    grid-template-columns: 1fr 1fr;
}