/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

#peopleCards {
    display: flex;
    flex-wrap: wrap;
}

#peopleCards figure {
    width: 150px;
    
    border: solid 4px #000;
    
    margin: 10px;
    padding: 0;
}

#peopleCards img {
    width: 100%;
}

#peopleCards figcaption {
    text-align: center;
}

footer {
    text-align: center;
}